a, a:hover, a:visited, a:active {
    color:rgb(242, 202, 41);
    text-decoration:none;
}

body {
    background-color:black;
    background-attachment: fixed;
    background-position: top;
    width: 80%;
    margin: auto;
    color:white;
}

header {
    position: relative;
    margin-top: 10%;
    height: 240px;
}
header h1 {
    font-size: 40px;
}


header img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
}

nav {
    background-color: #FA7921;
    padding-right:100px ;
    padding-left: 100px;
}

nav ul {
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0px;
}

section {
    background-color: #E5E5E5;
    border-bottom: 10px #E5E5E5 solid;
    border-top:  10px #E5E5E5 solid;
    padding-right:60px ;
    padding-left: 90px;
    color: black;
}

section h1 {
    text-align: left;
}

footer {
    background-color: #E55934;
    border:10px #E55934 solid;
    border-top: #E55934 solid;
    border-bottom: #E55934 solid;
    text-align: center;
    margin-top: -30px;
}

.bottomFooter {
    text-align: left;
}
