section h1 {
    text-align: left;
}

textarea {
    height: 300%;
}

footer {
    margin-top: -20px;
}

footer {
    background-color: #E55934;
    border:10px #E55934 solid;
    border-top: #E55934 solid;
    border-bottom: #E55934 solid;
    text-align: center;
}


