section {
	background-color: #E5E5E5;
	display: flex;
	border-bottom: 10px #E5E5E5 solid;
	border-top:  10px #E5E5E5 solid;
	padding:1px 6px 1px 6px ;
	margin-top: 30px;
}

section h1 {
	text-align: center;
	font-size: 2em;
}

section img {
	width:390px;
	height:290px;
	padding-right: 3px;
}










